/* mixin */
@mixin navbar($color, $bgcolor: transparent) {
  nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    list-style: none;
    color: $color;
    justify-content: space-between;
    background-color: $bgcolor;
    li{
      text-decoration: underline;
      padding: 10px;
    }
  }
}
/* Tous les styles concernant le header */
header {
  border: 1px solid black;
  /* appel de mixin  */
  @include navbar($color: DarkRed);
}
footer {
  border: 1px solid "red";
  /* appel de mixin  */
  @include navbar($color: DarkGreen, $bgcolor: yellow);
}


