/* import des mixins */
@import "_mixin.scss";

@import "_variables.scss";

h1 {
  color: $primary-color;
}

/* Tous les styles concernant le header */
header {
  border: 1px solid black;
  /* appel de mixin  */
  @include navbar($color: DarkRed);
}
footer {
  border: 1px solid "red";
  /* appel de mixin  */
  @include navbar( $bgcolor: greylight);
}


