
.icon-github:before { content: '\f300'; } /* '' */
.icon-vimeo:before { content: '\f306'; } /* '' */
.icon-twitter:before { content: '\f309'; } /* '' */
.icon-facebook:before { content: '\f30c'; } /* '' */
.icon-pinterest:before { content: '\f312'; } /* '' */
